/* styles.css */
body.dark-mode {
  background-color: #121212;
  color: #f1f1f1;
}

body.dark-mode header,
body.dark-mode nav,
body.dark-mode button {
  background-color: #333;
  color: #fff;
}

body.dark-mode input,
body.dark-mode select,
body.dark-mode textarea {
  background-color: #222;
  color: #fff;
}