<main class="auth-container">
  <header>
    <app-encabezado></app-encabezado>
  </header>

  <div class="auth-box">
    <div class="auth-logo">
      <img src="/logo.png" alt="Logo del sistema" />
    </div>

    <div class="text-center mb-4">
      <h1>Organiza tus Tareas</h1>
      <h2>Adapta tus Tareas a tu Tiempo</h2>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="iniciarSesion()">
      <!-- Usuario -->
      <div class="form-group">
        <div class="input-group">
          <input
            formControlName="usuario"
            type="text"
            placeholder="Nombre de usuario"
            class="form-control"
            [ngClass]="{ 'is-invalid': errores.usuario }"
          />
        </div>
        <div *ngIf="errores.usuario" class="validation-error">
          <i class="bi bi-exclamation-circle"></i>
          <span>{{ errores.usuario }}</span>
        </div>
      </div>

      <!-- Contraseña -->
      <div class="form-group">
        <div class="input-group">
          <input
            formControlName="contrasena"
            type="password"
            placeholder="Contraseña"
            class="form-control"
            [ngClass]="{ 'is-invalid': errores.contrasena }"
          />
        </div>
        <div *ngIf="errores.contrasena" class="validation-error">
          <i class="bi bi-exclamation-circle"></i>
          <span>{{ errores.contrasena }}</span>
        </div>
      </div>

      <!-- Botón -->
      <button type="submit" class="btn btn-primary w-100">
        Iniciar sesión
      </button>

      <div class="auth-divider"><span></span></div>

      <div class="links">
        <!-- Botón
        <a routerLink="/RecuperarContraseña" class="auth-link">
          <i class="bi bi-key"></i> ¿Olvidaste tu contraseña?
        </a> -->
        <button (click)="irARegistro()" class="link-text">
          Crear una cuenta nueva
        </button>

      </div>
    </form>
  </div>
</main>

<!-- Pie de página abajo -->
<footer class="auth-footer">
  <p>© 2025 Organiza tus Tareas. Todos los derechos reservados.</p>
  <p class="footer-links">
    <a routerLink="/terminos">Términos y Condiciones</a> |
    <a routerLink="/privacidad">Política de Privacidad</a> |
    <a routerLink="/contacto">Contacto</a>
  </p>
</footer>
